<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">

		<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
	</head>

	<body>
		<h1>Moje stránka</h1>

		<p n:if="$user->loggedIn"><a n:href="User:logout">Odhlásit se</a></p>
		<p n:if="!$user->loggedIn"><a n:href="User:login">Přihlásit se</a></p>

		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

		{include content}

		{block scripts}
		<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
		{/block}
	</body>
</html>
